#body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
}

#styled-result-container {
  font-size: large;
  color: black;
}
